# {{ ansible_managed }}
# ansibleguy.haproxy_waf_coraza

{% if 'SecRuleEngine' not in waf_app.crs_main | join('') %}
SecRuleEngine {{ 'On' if waf_app.block | bool else 'DetectionOnly' }}
{% endif %}

{% for s in waf_app.crs_main %}
{{ s }}

{% endfor %}
