---
# {{ ansible_managed }}
# ansibleguy.haproxy_waf_coraza

bind: '127.0.0.1:{{ WAF_CONFIG.port }}'

log_file: '/dev/stdout'
log_level: '{{ WAF_CONFIG.log.level }}'
log_format: '{{ WAF_CONFIG.log.format }}'

applications:
{% for user_app in WAF_CONFIG.apps | unique_apps %}
{%   set app = defaults_app | combine(user_app, recursive=true) %}
{%   set name = app.name | safe_key %}
{%   set path_rules = (WAF_HC.path.cnf + '/' + WAF_HC.path.dir.cnf_rules + '/' + name + '/' + app.ruleset_version) %}
  - name: '{{ name }}'
    directives: |
      Include {{ path_rules }}/{{ WAF_HC.path.file.cnf_main }}
      Include {{ path_rules }}/@crs-setup.conf
      Include {{ path_rules }}/@owasp_crs/*.conf

    response_check: {{ 'true' if WAF_CONFIG.response_check | bool else 'false' }}
    transaction_ttl_ms: {{ app.transaction_ttl_sec * 1000 }}

    log_level: '{{ app.log.level }}'
    log_file: '{{ WAF_HC.path.log }}/{{ name }}.log'
    log_format: '{{ app.log.format }}'

{% endfor %}
