# {{ ansible_managed }}
# ansibleguy.haproxy_waf_coraza

[Unit]
Documentation=https://github.com/corazawaf/coraza-spoa
Documentation=https://github.com/corazawaf/coraza
Documentation=https://coraza.io/docs/seclang/directives/
Documentation=https://github.com/ansibleguy/haproxy_waf_coraza
Documentation=https://docs.o-x-l.com/waf/coraza.html

[Service]
ExecStart=
ExecStart={{ WAF_HC.path.file.bin }} -config={{ WAF_HC.path.cnf }}/{{ WAF_HC.path.file.cnf_spoa }}

User={{ WAF_HC.user }}
Group={{ WAF_HC.user }}

StandardOutput=journal
StandardError=journal
SyslogIdentifier=coraza-spoa
Restart=on-failure
RestartSec=5s
